@-moz-document domain(youtube.com){
	/* Header */
	html[dark], [dark]{
		--yt-spec-brand-background-primary:#161616 !important;
		--yt-spec-brand-background-secondary:#161616 !important;
		--ytd-searchbox-legacy-border-color: #4D3CA6 !important;
		--ytd-searchbox-legacy-button-border-color: #4D3CA6 !important;
		--yt-spec-brand-background-solid:#161616 !important;
		border-left: #4D3CA6 !important;
	}
	
	/* Sideba */
	#guide-wrapper{
		border-right: 2px solid #4D3CA6 !important;
	}

	Minimised sidebar
	ytd-mini-guide-renderer{
		
		border-right: 2px solid #4D3CA6 !important;
	}
	
}